<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="foldersToWatch" value="G:\tmp\ERecording\Folder1;G:\tmp\ERecording\Folder2;G:\tmp\ERecording\Folder3;"/>
    <add key="tiffOutputDirectory" value="G:\tmp\ERecording\Tiffs"/>
    <add key="ghostScriptLocation" value="C:\Program Files\gs\gs9.21\bin\gswin64c.exe"/>
  </appSettings>
</configuration>